html{
    background-color: antiquewhite;
}

h1 {
    color:red;
    text-align: center;
    font-style: italic;
    font-family: yesteryear;
}

p {
    font-family: Fleur De Leah;
    font-size: 40px;
    font-weight: bold;
}
